/*main page*/
body{
    background-color: #1465e8;
}
ul{
    display:flex;
    justify-content: space-around;
    width: 100%;
    border:solid 2px #c6dcff;
    font-family: sans-serif;
    font-size: 20px
}
h1{
    margin-top: 120px;
    background-color: #c6dcff;
    width: 316px;
    height: 100px;
    font-family: sans-serif;
}
/*start of transition*/
h1{
   font-size: 71pt;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 0s;
}
h1:hover {
    font-size: 71pt;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 0s;
}
/*end of transition*/
#intro{
    display:flex;
    justify-content:space-between
}
li{
    align-self: center;
    list-style: none
}
p {

    border: solid #c6dcff;
    width: 421px;
    height: 487px;
    font-family: sans-serif;
    font-size: 20pt
}
#body{
    display:flex;
    justify-content: space-around;
}
#karkalicious{
    margin-top: 15px;
}
/*photography css*/
#dress{
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-size: 32px;
     margin-top: 30px;
}
#beach{
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-size: 32px;
     margin-top: 30px;
}
#obelisk{
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-size: 32px;
     margin-top: 30px;
}
#pine{
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-size: 32px;
     margin-top: 30px;
}
#berries{
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-size: 32px;
     margin-top: 30px;
}
#cherry{
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-size: 32px;
     margin-top: 30px;
}
#tower{
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-size: 32px;
     margin-top: 30px;
}
#hall{
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-size: 32px;
     margin-top: 30px;
}
#taylor{
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-size: 32px;
     margin-top: 30px;
}

#pictures{
    display:flex;
    align-items: center;
    flex-direction: column;
}

/*Start of mobile*/
@media only screen and (max-width: 700px){
    body{
        background-color:#c6dcff;
    }
    #body{
        display:flex;
        align-items: center;
        flex-direction:column-reverse;
    }
    ul{
       border:solid 2px #1465e8;
    }
    h1{
        background-color: #1465e8;
    }
    p{
        border: solid #1465e8;
    }
}
