ul{
    display:flex;
    justify-content: space-around;
    width: 100%;
    border:solid 1px blue;
    font-family: sans-serif;
    font-size: 20px
}
h1{
    margin-top: 120px;
    font-size: 71pt;
    background-color: blue;
    width: 316px;
    height: 100px;
    font-family: sans-serif
}
#intro{
    display:flex;
    justify-content:space-between
}
li{
    align-self: center;
    list-style: none
}
p {

    border: solid blue;
    width: 421px;
    height: 487px;
    font-family: sans-serif;


}
#body{
    display:flex;
    justify-content: space-around;
}
#image{
    margin-top: 15px;
}
#dress{
    display:flex;
    justify-content:space-between;
    font-size: 32px;
}
#beach{
    display: flex;
    justify-content: space-between;
    font-size: 32px;
}
#poetry{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#help,#helpme{
    margin-top: 30px;
}
